<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<style type="text/css">
			/*body{
               background: url(img/4.jpg) no-repeat;
            }*/

			.empty {
				border-color: red;
			}

		</style>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="http://cdn.suoluomei.com/common/js2.0/axios/axios.min.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

	</head>
	<body>
		<div class="bg" id="app">
			<div class="wel">征收系统管理</div>
	        <div class="user">
	       	    <div id="username" style="">用户名</div>
	       	    <input  type="text" name="username"   v-model="username" />
	        </div>
	        <div class="password" >
	        	<div id="password" >密&nbsp;&nbsp;&nbsp;码</div>
	       	    <input class="" type="password" name="password" v-model="password" />
	        </div>
<!--	        <div class="rem" >-->
<!--	       	  <input type="checkbox" name="rememberme" />-->
<!--	        	 <div id="reb">-->
<!--	        	 	记住我-->
<!--	        	 </div>-->
<!--	        </div>-->
	        <div class="fg" >
	       	    <div style="font-size: 11px;margin-top: 11px;">
	       	    	<a style="font-size: 11px;" href="#">忘记密码？</a>
	       	    </div>
	        </div>
	        <input class="btn" type="button" name="登录" value="登录" @click="submitEvent()" />
		</div>
	<script type="text/javascript">
		new Vue({
			el: '#app',
			data : {
				username : '',
				password : ''
			},
			methods : {
				submitEvent () {
					if(this.username == '' || this.password == ''){
						this.$message({
							message: '账号密码不可为空！',
							type: 'warning'
						});
						return false;
					}

					axios.post('/loginn',{username: this.username,password: this.password})
							.then(res=>{
								console.log("token-->" ,res.data.data.token);
								window.location.href = "/index/sb";
							}).catch(error=>{
						        this.$message.error('认证失败！');
					})
				}
			},
			computed : {

			}
		});
	</script>
	</body>
</html>
